/Clases/Conceptos Basicos/nbproject/private/

/Clases/Conceptos Basicos/build/
diagramaBD.img
/Clases/Tarea Libro/nbproject/private/
/Tareas/Tarea Libro/nbproject/private/
/Clases/Conceptos Basicos/dist/
/Clases/ReutilizaciónCodigo2209/nbproject/private/
/Clases/ReutilizaciónCodigo2209/build/
/Clases/ReutilizaciónCodigo2209/dist/
